.App {
  text-align: center;
  margin-top: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  padding: 8px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
}

.result {
  margin-top: 20px;
}
